{% load static %}
<nav id="sidebar">
    <div class="sidebar-header ">
        <img src="{% static 'img/bootstraper-logo.png' %}" alt="bootraper logo" width="170" class="app-logo">
    </div>
    <ul class="list-unstyled components text-secondary nav-tabs">
        <li class="nav-link {% if dashboard %}active{% endif %}">
            <a href="{% url 'index' %}"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li class="nav-link {% if liquid %}active{% endif %}">
            <a href="{% url 'liquid' %}"><i class="fas fa-file-alt"></i>Liquidacion Mensual</a>
        </li>
        <li class="nav-link {% if comision %}active{% endif %}">
            <a href="{% url 'comision' %}"><i class="fas fa-file-alt"></i>Comisión Tecnica</a>
        </li>
        <li class="nav-link {% if entrevistas %}active{% endif %}">
            <a href="{% url 'entrevistas' %}"><i class="fas fa-file-alt"></i>Entrevistas</a>
        </li>
        <li class="nav-link {% if charts %}active{% endif %}">
            <a href="{% url 'charts' %}"><i class="fas fa-chart-bar"></i> Charts</a>
        </li>
        <li class="nav-link {% if users %}active{% endif %}">
            <a href="{% url 'users' %}"><i class="fas fa-user-friends"></i>Usuarios</a>
        </li>
        <li class="nav-link {% if config %}active{% endif %}">
            <a href="{% url 'configs' %}"><i class="fas fa-cog"></i>Configuración</a>
        </li>
    </ul>
</nav>