{% load static %}

<nav id="sidebar" class="{% if nonav %}active{% endif %}">
    <div class="sidebar-header">
        <img src="{% static 'img/logo_cap1.png' %}" alt="bootraper logo" width="170" class="app-logo">
    </div>
    <ul class="list-unstyled components text-secondary">
        <li class="dropdown-toggle no-caret-down {% if dashboard %}active{% endif %}">
            <a href="{% url 'dash' %}"><i class="fas fa-home"></i> Home</a>
        </li>

        <li>
            <a href="#uielementsmenu" data-toggle="collapse" class="dropdown-toggle no-caret-down"><i class="fas fa-book"></i> Normativa</a>
            <ul class="collapse list-unstyled " id="uielementsmenu">
                <li>
                   <a href="{% url 'rules' %}"><i class="fas fa-balance-scale-left"></i>Busqueda Normas Legales</a>
                </li>
                <li>
                   <a href="{% url 'admin:normas_master_normas_changelist' %}"><i class="fas fa-tasks"></i>Carga de Normas</a>
                </li>


            </ul>
        </li>

       <li>
            <a href="{% url 'foro' %}" class="dropdown-toggle no-caret-down"><i class="fas fa-comments"></i> Foro Interactivo</a>
        </li>

{% comment %}
        <li>
            <a href="#uielementsmenu3" data-toggle="collapse" class="dropdown-toggle no-caret-down"><i class="fas fa-money-bill-wave-alt"></i> Suscripcion y Pagos</a>
            <ul class="collapse list-unstyled " id="uielementsmenu3">
                <li>
                   <a href="{% url 'member' %}"><i class="fas fa-comments"></i>Gestion de Miembros</a>
                </li>
                <li>
                   <a href="{% url 'plan' %}"><i class="fas fa-tasks"></i>Registro de Planes</a>
                </li>
                 {% comment %} <li>
                   <a href="{% url 'configs' %}"><i class="fas fa-tasks"></i>Configuracion</a>
                </li>



            </ul>
        </li>
         {% endcomment %}

         <li>
            <a href="{% url 'admin:index' %}" class="dropdown-toggle no-caret-down"><i class="fas fa-tasks"></i>Adm. Base de Datos</a>
        </li>
        {% comment %} <li>
            <a href="#uielementsmenu2" data-toggle="collapse" class="dropdown-toggle no-caret-down"><i class="fas fa-wrench"></i> Configuracion</a>
            <ul class="collapse list-unstyled " id="uielementsmenu2">
                <li>
                    <a href="{% url 'admin:apps_member_changelist' %}"><i class="fas fa-user"></i>Roles y Permisos Usuarios</a>
                </li>
               


            </ul>
        </li> {% endcomment %}




          <li class=" {% if admin %}active{% endif %}">
            <a href="{% url 'preguntas' %}"><i class="fas fa-user"></i>Preguntas Frecuentes</a>
        </li>
          <li class=" {% if admin %}active{% endif %}">
            <a href="{% url 'plan_list' %}"><i class="fas fa-user"></i>Planes y Suscripción</a>
        </li>
        <li class=" {% if admin %}active{% endif %}">
            <a href="{% url 'sign-up' %}"><i class="fas fa-user"></i>Registro Externo</a>
        </li>
    </ul>
</nav>


{% comment %} https://fontawesome.com/v5.15/icons?d=gallery&p=2&q=conf {% endcomment %}