<div class="form-row">
    <div class="form-group col-md-12">
        <label><strong>8. Arquitectos que ejercen otros cargos de Regidores, Funcionarios y Empleados en la Municipalidad:</strong></label>
    </div>
    <div class="form-group col-md-12">
        <table id="id_arquitects_table" class="table table-condensed mb-none">
            <tbody>
                {% for fr in formset.forms %}
                    <div class="appear-animation" data-appear-animation="fadeInDown">
                        <tr id="{{ fr.prefix }}-row" class="add-animation">
                            <td width="400">{{ fr.name.label }}<br>{{ fr.name }}</td>
                            <td>{{ fr.cargo.label }}<br>{{ fr.cargo }}</td>
                            <td></td>
                        </tr>
                        {% if fr.errors %}
                            <tr>
                                <td colspan="2">
                                    {{ fr.errors }}
                                </td>
                            </tr>
                        {% endif %}
                    </div>
                {% endfor %}
            </tbody>
        </table>
        <p>
            {{ formset.management_form }}
        </p>
    </div>
</div>