{% extends 'base_nfr.html' %}

{% block content %}
<div class="container dashboard">
    <div class="row">

    {% for muni in rpta_areas %}

        <div class="col-md-4">
            {% include 'link_card.html' with icon_class='blue fas fa-book' title='Administración' id=muni.id  subtitle=muni.area_name link='dashboard:admin' link_text='Ingresar' %}
             
       </div>

        
    {% endfor %}
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}    

{% block script %}
    <script type="text/javascript">
        let body = document.querySelector('body')
        body.classList.add('bg-blue-dark')
    </script>
{% endblock %}    
