{% extends 'base_nfr.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-center">Suscripciones - Pagos en Linea</h4>
        </div>
     </div>
     
         <div class="col-md-12">

          <div class="container">
                  <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Gratuito</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">S/ 0 <small class="text-muted">mes</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                                
                        
                          <li>Acceso total a la Normas y Acceso al Foro</li>
                            <br>
                          <li><b>Condiciones:</b></li>
                        
                        <i> <li>Ser colegiado del CAP.</li>
                          <li>Estar habilitado.</li>
                          <li>No tener multas. </li></i>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Registro Gratis</button>
                      </div>
                    </div>
                    <div class="card mb-4 box-shadow">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Premium</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">S/ 10 <small class="text-muted">mes</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                          
                          <li> Acceso total a la Normas </li>
                          <li> Acceso total al Foro</li>
                            <br>
                          <li><b>Condiciones:</b></li>
                        
                        <i> <li>Ser colegiado del CAP.</li>
                          <li>Estar habilitado.</li>
                          <li>No tener multas. </li></i>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-primary">Suscribirme</button>
                      </div>
                    </div>
                    <div class="card mb-4 box-shadow">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Profesional</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">S/ 18  <small class="text-muted"> mes</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                          <li> Acceso total a la Normas </li>
                          <li> Acceso total al Foro</li>
                          <li> Promociones Especiales</li>
                            <br>
                          <li><b>Condiciones:</b></li>
                        
                        <i> <li>Cualquier profesional o Persona que desee acceder</li></i>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-primary">Suscribirme</button>
                      </div>
                    </div>
                  </div>

      
         </div>


          </div>
    </div>



 <div class="row">
        <div class="col-md-5">
            <h4 class="text-center">Suscripciones - Pagos Presenciales</h4>
        </div>
     </div>
     
         <div class="col-md-12">

          <div class="container">
                  <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Gratuito</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">S/ 0 <small class="text-muted">mes</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                                
                        
                          <li>Acceso total a la Normas y Acceso al Foro</li>
                            <br>
                          <li><b>Condiciones:</b></li>
                        
                        <i> <li>Ser colegiado del CAP.</li>
                          <li>Estar habilitado.</li>
                          <li>No tener multas. </li></i>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Registro Gratis</button>
                      </div>
                    </div>
                    <div class="card mb-4 box-shadow">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Premium</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">S/ 22 <small class="text-muted">mes</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                          
                          <li> Acceso total a la Normas </li>
                          <li> Acceso total al Foro</li>
                            <br>
                          <li><b>Condiciones:</b></li>
                        
                        <i> <li>Ser colegiado del CAP.</li>
                          <li>Estar habilitado.</li>
                          <li>No tener multas. </li></i>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-primary">Suscribirme</button>
                      </div>
                    </div>
                    <div class="card mb-4 box-shadow">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Profesional</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">S/ 30  <small class="text-muted"> mes</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                          <li> Acceso total a la Normas </li>
                          <li> Acceso total al Foro</li>
                          <li> Promociones Especiales</li>
                            <br>
                          <li><b>Condiciones:</b></li>
                        
                        <i> <li>Cualquier profesional o Persona que desee acceder</li></i>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-primary">Suscribirme</button>
                      </div>
                    </div>
                  </div>

      
         </div>


          </div>
    </div>





<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalle de pago</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
</head>
<body>

    <br>

    <div class="container">
        <h1 class="text-center">Pago con Visa</h1>
        <hr>
        <h3>Información del pago</h3>
        <b style="padding-left:20px;">Importe a pagar: </b> $ 1 <br>
        <b style="padding-left:20px;">Número de pedido: </b>  <br>
        <b style="padding-left:20px;">Concepto: </b> Detalle de pago <br>
        <b style="padding-left:20px;">Fecha: </b> 12/12/2020 <br>
        <hr>
        <!-- <h3>Realiza el pago</h3> -->
        <input type="checkbox" name="ckbTerms" id="ckbTerms" onclick="visaNetEc3()"> <label for="ckbTerms">Acepto los <a href="#" target="_blank">Términos y condiciones</a></label>
        <form id="frmVisaNet" action="http://localhost:8082/PagoWebPhp/finalizar.php?amount=1&purchaseNumber=21">
            <script src="https://static-content-qas.vnforapps.com/v2/js/checkout.js?qa=true" 
                data-sessiontoken="84182eb6d9a65acbdbccd26913462a054a8c4ee084a6ae3feb39d589cf016892"
                data-channel="web"
                data-merchantid="750000777"
                data-merchantlogo="http://localhost:8082/PagoWebPhp/assets/img/logo.png"
                data-purchasenumber="21"
                data-amount="1"
                data-expirationminutes="5"
                data-timeouturl="http://localhost:8082/PagoWebPhp/"
            ></script>
        </form>
    </div>
    
</body>
<script src="assets/js/script.js"></script>
</html>



















</div>
{% endblock content %}

{% block css %}
    <link href="{% static 'vendor/DataTables/datatables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/select2/css/select2.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'dynamic-formset/app/formset_css.css' %}">
    <link href="{% static 'vendor/airdatepicker/dist/css/datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/mdtimepicker/mdtimepicker.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'vendor/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'vendor/airdatepicker/dist/js/datepicker.min.js' %}"></script>
    <script src="{% static 'vendor/airdatepicker/dist/js/i18n/datepicker.es.js' %}"></script>
    <script src="{% static 'vendor/mdtimepicker/mdtimepicker.min.js' %}"></script>
    <script src="{% static 'dynamic-formset/js/jquery.formset.js' %}"></script>
    <script src="{% static 'dynamic-formset/app/create.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('#id_entrevista_table tbody tr').formset(
                get_dynamic_attr('{{ formset.prefix }}'),
            );
        })
    </script>
{% endblock %}