{% extends 'base_nfr.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="page-title">
        <h3>Usuarios 
            <a href="users_create" class="btn btn-sm btn-outline-primary float-right"><i class="fas fa-user-shield"></i> Agregar</a>
        </h3>
    </div>
    <div class="box box-primary">
        <div class="box-body">
            <table width="100%" class="table table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>Manager</td>
                        <td>Admin</td>
                        <td>Active</td>
                        <td class="text-right">
                            <a href="users_edit/{{ user.id }}" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                            
                            <a href="users_delete/{{ user.id }}" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}